/*  by Yana Baidatska */
.news {
    max-width: 1200px;
    margin: 0 auto;
}

.news__header {
    padding: 105px 20px 40px;
    width: 100%;
    display: flex;
    flex-direction: row;

        @media (max-width: 767px) {
            padding: 40px 24px;
            flex-direction: column;
        }
}
    
.news__title__block {
    width: 50%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;

        @media (max-width: 767px) {
            width: 100%;
        }
}

.news__intro {
    width: 50%;
    padding: 0 15px;

        @media (max-width: 767px) {
            width: 100%;
        }
}

.news__list {
  padding: 20px 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    }

.news__label {
    font-family: var(--font-regular);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.25px;
    color: var(--text-color-primary);
    margin-bottom: 10px;
}

.news__title {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 34px;
    color: var(--text-color-title);
    margin-bottom: 20px;
}

.news__subtitle {
    font: var(--font-regular);
    font-weight: 500;
    font-size: 19px;
    color: var(--text-color-secondary);
    max-width: 700px;
}

.news__item {
    padding: 0 15px 15px;
    gap: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;

      @media (max-width: 1024px) {
        flex: 0 0 50%;
    }

        @media (max-width: 767px) {
        flex: 0 0 100%;
    }  
}

.news__image {
    max-width: 100%;
    border-radius: 8px;
}

.news__meta {
    font: var(--font-regular);
    font-weight: 700;
    font-size: 12px;
    color: var(--accent-color-three);
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
}

.news__headline {
    font: var(--font-regular);
    font-weight: 600;
    font-size: 23px;
    color: var(--text-color-title);
    margin-bottom: 15px;
}

.news__excerpt {
    font: var(--font-regular);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-secondary);
    max-width: 700px;
    margin: 0 auto;
}

.news__link {
    font: var(--font-regular);
    font-weight: 700;
    color: var(--text-color-title);
    transition: color 0.3s ease;
    margin-top: 26.25px;
}

.news__link:hover {
    text-decoration: underline;
    color: var(--music-genre-hover-color);
}