.latest-podcasts {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.latest-podcasts__intro {
  display: flex;
  justify-content: space-between;
  padding: 100px 30px 40px;
  font-family: var(--font-regular);
}

.latest-podcasts__label {
  color: var(--text-color-secondary);
  font-weight: bold;
  text-transform: uppercase;
}

.latest-podcasts__description {
  font-size: 19px;
  color: var(--text-color-title);
}

.latest-podcasts__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
}

.latest-podcasts__item {
  width: 100%;
}

.podcast-card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.podcast-card__content {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.podcast-card__title {
  font-size: 20px;
  margin: 0 0 15px 0;
}

.podcast-card__meta {
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.podcast-card__meta-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--text-color-title);
}

.podcast-card__meta-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.podcast-card__description {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color-title);
  flex-grow: 1;
}

.podcast-card__button {
  display: inline-block;
  padding: 12px 24px;
  min-width: 150px;
  width: fit-content;
  max-width: 100%;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  color: var(--text-color-title);
  background-image: linear-gradient(
    45deg,
    var(--accent-color-one),
    var(--accent-color-four)
  );
}

.podcast-card__button:hover {
  background-image: linear-gradient(
    45deg,
    var(--accent-color-four),
    var(--accent-color-one)
  );
}

@media (max-width: 768px) {
  .latest-podcasts__list {
    grid-template-columns: 1fr;
  }

  .latest-podcasts__intro {
    display: block;
    padding: 60px 15px 30px;
  }
}
