/*  by Oleksandr Braiko */

.more-lives__container {
    min-height: 470px;
    width: 100%;
    background-image: url("../img/index/more-lives/more-lives-bg.png");
    background-repeat: no-repeat;
    background-position: 55%;
    background-size: cover;

    .more-lives__container-wrapper {
        background-color: var(--body-bg-gradient-filler50);
        width: 100%;
        padding: 160px 0;
    }

    .more-lives__side-container {
        margin: 0 auto;
        padding:0 40px;
        max-width: 1170px;
        max-height: 100%;
    }

    .more-lives__side-wrapper {
        max-width: 100%;
        margin: 0;

        @media (min-width: 768px) {
            max-width: 430px;
        }

        .more-lives__play-circle {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-image: linear-gradient(
                    135deg,
                    var(--accent-color-one),
                    var(--accent-color-two)
            );
            vertical-align: bottom;
            text-align: center;

            @media (min-width: 768px) {
                width: 100px;
                height: 100px;
            }

            .more-lives__play-icon {
                margin: 15px 0;
                width: 40px;
                height: 40px;

                @media (min-width: 768px) {
                    margin: 20px 0;
                    width: 60px;
                    height: 60px;
                }
            }
        }

        .more-lives__title {
            margin: 20px 0 0 0;
            color: var(--text-color-title);
            font-size: 30px;
            font-family: var(--font-title);

            @media (min-width: 768px) {
                font-size: 38px;
            }

        }

        .more-lives__text {
            color: var(--text-color-secondary);
            margin: 25px 0 0 0;
            font-size: 19px;
        }

        .more-lives__spacer {
            min-height: 20px;

            @media (min-width: 770px) {
                min-height: 180px;
            }

        }

        .more-lives__link-container {

            .more-lives__link {
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 1px;
                color: var(--accent-color-three);
                text-decoration: underline;
                text-transform: uppercase;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}