/*  by Oleksandr Braiko */

.wlm-container {
    font-family: var(--font-regular);
    max-width: 1170px;
    margin: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 60px 24px;

    @media (min-width: 1024px) {
        padding: 60px 40px;
    }


    .wlm-motto {
        .wlm-motto-block{
            padding: 0;
        }

        .wlm-affirmation {
            color: var(--text-color-secondary);
            margin: 25px 0 0 0;
            text-transform: uppercase;
            text-align: justify;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 1.2px;
        }

        .wlm-message {
            margin: 20px 0 0 0;
            font-size: 56px;
            color: var(--text-color-title);
            font-family: var(--font-title);
            font-weight: 400;

            @media (min-width: 1024px) {
                font-size: 68px;
            }

            .wlm-message-accent-one {
                color: var(--accent-color-one);
            }

            .wlm-message-accent-two {
                color: var(--accent-color-two);
            }
        }
    }
}