.join-us {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.join-us__wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  font-family: var(--font-regular);
  padding: 0 20px;
}

.join-us__item {
  box-sizing: border-box;
  padding: 0 20px;
  min-width: 281px;
}

.join-us__left {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(42, 2, 57);
  z-index: 2;
  padding: 40px;
  line-height: 1.2;
}

.join-us__right {
  flex: 0 0 60%;
  position: relative;
  background: url("../img/index/join-us-background.png") no-repeat center center / cover;
  z-index: 1;
}

/* Текст */
.join-us__title {
  margin: 0 0 12px 0;
  font-size: 0.9rem;
  color: var(--accent-color-three);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.join-us__subtitle {
  font-size: 1.7rem;
  margin: 0 0 20px 0;
  color: var(--text-color-title);
  line-height: 1.5;
}

.join-us__description {
  font-size: 1rem;
  margin: 0 0 20px 0;
  color: var(--text-color-secondary);
}

.join-us__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 42px;
  border-radius: 21px;
  color: var(--text-color-title);
  background-image: linear-gradient(
    45deg,
    var(--accent-color-one),
    var(--accent-color-four)
  );
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  padding: 0 20px;
  text-decoration: none;
  border: none;
  user-select: none;
  cursor: pointer;
  transition: background-image 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.join-us__button:hover {
  background-image: linear-gradient(
    45deg,
    var(--accent-color-four),
    var(--accent-color-one)
  );
}

@media (max-width: 768px) {
  .join-us__wrapper {
    flex-direction: column;
    min-height: 600px;
  }

  .join-us__left,
  .join-us__right {
    flex: 1 1 100%;
    height: auto;
  }

  .join-us__right {
    height: 100%;
    display: block;
    z-index: 3;
  }

  .join-us__title {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
  }

  .join-us__subtitle {
    font-size: 1.5rem;
  }

  .join-us__description {
    font-size: 0.95rem;
  }

  .join-us__button {
    font-size: 0.95rem;
    width: 160px;
    height: 40px;
  }
}

/* Планшеты и десктопы */
@media (min-width: 769px) {
  .join-us__title {
    font-size: 0.7rem;
    letter-spacing: 1.5px;
  }

  .join-us__subtitle {
    font-size: 1.4rem;
  }

  .join-us__description {
    font-size: 0.9rem;
  }

  .join-us__button {
    font-size: 0.9rem;
    width: 160px;
    height: 38px;
  }
}
