<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Echowave Radio Station</title>
  <link rel="shortcut icon" href="img/favicon-96.png" type="image/x-icon" />
  <link rel="stylesheet" href="css/index.css" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
  <header>
    <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.nav.partial.html"></nav>
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></div>
  </header>
  <main>
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.popular-songs.partial.html"></section>
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.popular-music-carousel.partial.html">
    </section>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.top-by-genre.partial.html">
    </section>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.features-with-icon.partial.html">
    </section>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.latest-podcasts.partial.html"></section>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.listen.partial.html"></section>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.results.partial.html"></section>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.join-us.partial.html"></section>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.program.partial.html" id="program"></section>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.popular-artists.partial.html" id="artists"></section>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.we-love-music.partial.html"></section>

    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.testimonials.partial.html"></div>

    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.more-lives.partial.html"></section>

    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.news-articles.partial.html"></div>
  </main>

  <footer>
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></section>
  </footer>
  <script src="js/index.js" type="module"></script>
</body>
</html>
