<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Echowave Radio Station</title>
  <link rel="shortcut icon" href="img/favicon-96.png" type="image/x-icon" />
  <link rel="stylesheet" href="css/index.css" />
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
  <!--Hrabar Yana-->
  <header>
    <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.nav.partial.html"></nav>
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></div>
  </header>
  <!--Hrabar Yana-->
  <main>
    <!--Viktoriia Remeniuk-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.popular-songs.partial.html"></section>
    <!--Viktoriia Remeniuk-->
    <!--Oleksandra Honcharova-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.popular-music-carousel.partial.html">
    </section>
    <!--Oleksandra Honcharova-->

    <!-- Maksym Oleksiv -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.top-by-genre.partial.html">
    </section>
    <!-- Maksym Oleksiv -->

    <!--Andrii Kovalyk-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.features-with-icon.partial.html">
    </section>
    <!--Andrii Kovalyk-->
    
    <!--Maksym Ozirskyi-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.latest-podcasts.partial.html"></section>
    <!-- Maksym Ozirskyi -->
    
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.listen.partial.html"></section>
    <!-- Oleksandr Braiko -->

    <!--Pavlo Demchenko-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.results.partial.html"></section>
    <!--Pavlo Demchenko-->

    <!--Oleksandra Honcharova-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.join-us.partial.html"></section>
    <!--Oleksandra Honcharova-->

    <!--Vladyslava Shcherbyna -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.program.partial.html" id="program"></section>
    <!--Vladyslava Shcherbyna -->

    <!-- Oleksandr Braiko -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.popular-artists.partial.html" id="artists"></section>
    <!-- Oleksandr Braiko -->

    <!-- Oleksandr Braiko -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.we-love-music.partial.html"></section>
    <!-- Oleksandr Braiko -->

    <!--Petykchachnyi Olexii-->
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.testimonials.partial.html"></div>
    <!--Petykchachnyi Olexii-->
    
    <!-- Oleksandr Braiko -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.more-lives.partial.html"></section>
    <!-- Oleksandr Braiko -->

    <!--Yana Baidatska-->
    <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.news-articles.partial.html"></div>
    <!--Yana Baidatska-->
  </main>

  <!-- Dmytro Chornobryvets -->
  <footer>
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></section>
  </footer>
  <!-- Dmytro Chornobryvets -->
  <script src="js/index.js" type="module"></script>
</body>
</html>
